* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}

.posts-column {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.desktop-top-gap {
  margin-top: -16px;
}

.author-header-card {
  margin: 0 0 16px 0;
}

@media (min-width: 1024px) {
  .posts-column {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .desktop-top-gap {
    margin-top: 0;
  }

}
